/autom4te.cache/
/obj/
/build/
/pkg/
/Makefile
/bird
/birdc
/birdcl
/bird.exe
/birdc.exe
/birdcl.exe
/bird.ctl
/bird.err
/bird.out
/bird.log
/config.log
/config.status
/configure
/sysdep/autoconf.h.in
/sysdep/autoconf.h.in~
/cscope.*
*.tar.gz
/gitlab/docker.mk
